<div class="center jumbotron">
  <h1>Auto Dictator</h1>
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render "shared/user_info" %>
        </section>
        <section class="note_form">
          <%= render "shared/record_form" %>
        </section>
      </aside>
      <div class="col-md-8">
          <ul id="voice-content"> </ul>
      </div>
      <%= render "shared/record_post" %>
    </div>
  <% else %>
    <div class="center jumbotron">
      <h1>Auto Dictator</h1>
      <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
